@charset "UTF-8"
@import url(https://fonts.googleapis.com/css?family=Open+Sans:100,300,400,600,700&display=swap&subset=latin-ext)

$block-container-background: #f2f2f2
$pixman-cool-color: #1aaf5e
$pixman-cool-highlighted-color: #e84e0e
$common-container-margin-bottom: 90px
$page-left-right-padding: 15%

html
  padding: 0
  margin: 0
  height: 100%
  width: 100%
  font-family: "Open Sans", sans-serif

body
  margin: 0
  min-width: 960px

h1,
h2,
h3
  text-align: left
  margin-left: -2px           /* fine tuning to vertically match the other elements */
  font-weight: 300 !important

a
  text-decoration: none

*[data-toggle="tooltip"]
  border-bottom: dashed 2px $pixman-cool-color
  cursor: default

.highlighted-text
  color: $pixman-cool-color
  font-weight: bold

.bold-text
  font-weight: bold

.header
  padding: 0 48px
  display: flex
  justify-content: space-between
  align-items: center
  height: 86px

  #header__main-menu
    margin: 0

  #header__main-menu-effect
    display: none
    position: absolute
    background: $pixman-cool-color
    width: 0
    height: 1px

  #header__main-menu li
    display: inline
    padding: 10px 9px
    font-size: 1.1rem

  #header__main-menu li a
    color: #000
    text-decoration: none

  // legacy - was replaced by nicer JavaScript alternative
  //#header__main-menu li a:hover
    //color: $pixman-cool-color
    //border-bottom: solid 1px $pixman-cool-color

  #header__main-menu li a.active-page
    border-bottom: solid 3px $pixman-cool-color
    animation: border-tween .2s

#main-carousel
  min-height: 470px
  height: 470px
  background: url("../images/carousel_bg_1.png") no-repeat center center
  background-size: cover

  .main-carousel__arrow
    width: 10%
    color: #000
    font-size: 3.5rem
    opacity: 1

  .main-carousel__arrow:hover
    color: $pixman-cool-highlighted-color

  .main-carousel__slide-container
    padding: 50px $page-left-right-padding

    h1
      text-shadow: 1px 2px 3px #777
      margin-bottom: 26px

    .main-carousel__content-container
      width: 60%

    .main-carousel__link-more
      border: solid 1px $pixman-cool-color
      background: #fff
      border-radius: 24px
      text-align: center
      display: flex
      justify-content: center
      align-items: center
      width: 240px
      height: 48px
      float: right
      color: $pixman-cool-color
      font-weight: bold
      margin-top: 20px

    .main-carousel__link-more:hover
      color: $pixman-cool-highlighted-color
      border-color: $pixman-cool-highlighted-color
      font-weight: normal
      text-decoration: none

#news
  padding: 14px
  text-align: center

  .news__date
    color: #888
    text-transform: uppercase
    font-size: .8rem

  .news__text
    padding: 0 12px

  a
    color: $pixman-cool-color
    font-weight: bold

  a:hover
    color: $pixman-cool-highlighted-color
    text-decoration: none

.main-content-wrapper
  background: #f2f2f2
  padding: 40px $page-left-right-padding

  .common-container
    margin-bottom: $common-container-margin-bottom

    p
     text-align: justify

  .common-container__image
    float: left
    margin: 0 8px 6px 0
    width: 250px

  .common-container-two-columns
    margin-bottom: $common-container-margin-bottom
    column-count: 2
    column-gap: $page-left-right-padding / 2

  @media screen and (max-width: 1200px)
    .common-container-two-columns
      column-count: 1

.footer
  height: 140px
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  font-weight: bold

  .footer__copyright
    color: $pixman-cool-color

  .footer__copyright-pixman
    font-size: 1.2rem




